<p></p>
<a href="/meals/sortedByMostLikes" class="btn btn-outline-secondary mt-3 ml-5 mb-3">Sort by most liked</a>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">All Meals</h5>
        <div class="row">

<% meals.forEach( (meal, index) =>{ %>

            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/photos/hamburger.jpg" alt="card image"></p>
                                    <h4 class="card-title"> <%= meal.name  %> </h4>
                                    <p class="card-text">By <%= meal.owner  %> </p>
                                    <p class="card-text"> <%= meal.likes.length %> likes </p>
                                    <a href="/meals/<%= meal.id %>" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title"> <%= meal.name  %> </h4>
                                    <br>
                                    <p class="card-text"> <%= meal.calories  %> calories  </p>
                                    <p class="card-text"> <%= meal.protein  %>g protein  </p>
                                    <p class="card-text hidden">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a href="/meals/<%= meal.id %>">Click to learn more</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%  }) %>








