<h1>My Collections</h1>
<a href="/meals/searchForWeekOfMeals" class="btn btn-outline-primary mt-3 ml-5 mb-3">Create a new collection</a>
<div class="container pt-4">
    <% collections.forEach((collection, index) => { %>
        <a href="#">
       <div class="col-lg">
           <h3 class="mb-4 text-center"><%= collection.name  %> </h3>
           <table class="table">
            <thead>
              <tr>
                <th scope="col">Breakfast</th>
                <th scope="col">Lunch</th>
                <th scope="col">Dinner</th>
                <th scope="col">Total Calories</th>
                <th scope="col">Total Protein</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= collection.breakfast  %> </td>
                <td><%= collection.lunch  %></td>
                <td><%= collection.dinner  %></td>
                <td><%= collection.breakfastCalories + collection.lunchCalories + collection.dinnerCalories  %> cal</td>
                <td><%= collection.lunchProtein + collection.dinnerProtein + collection.breakfastProtein %> g</td>
              </tr>
           
            </tbody>
          </table>
               <form action='/meals/collections/<%= collection.id %>?_method=DELETE' method="POST">
                <input type="submit" class="btn btn-outline-secondary mt-3 ml-5" value="Delete" />
            </form>

           </a>
   
       </div>
       <% }) %> 
    </div>
</div>
