<a href="/meals/search" type="button" class="btn btn-outline-secondary mt-3 ml-5">Back</a>

<div class ="container-fluid text-center">
    <div class ="text-center">
          <div class ="col-md-12 col-sm-12 text-center mt-5" >
              <h2><%= meal.owner %>'s </h2>
            <h1>
                
                    <%= meal.name %>
            </h1>
            <p>Calories: <%= meal.calories %>
                <br>
            <p> Protein: <%= meal.protein %> g
                <br>
                <% if (meal.ingredients) {%> 
                    <p> ingredients: <%= meal.ingredients %>
                <br>
                        <% } else{ %>
                            <p>ingredients: N/A</p>
                            <br>
                            <% } %> 
                <% if (meal.optional) {%> 
            <p> Optional: <%= meal.optional %>
                <% } else{ %>
                    <p>Optional: N/A</p>
                    <% } %> 

            </div>

</div>
<a href="/meals/randomizedMeal" type="button" class="btn btn-outline-secondary mt-3 ml-5 text-center">Not Satisfied? Click to generate another random meal!</a>
</div>
