<p>Input max and min desired protein per meal to generate three seperate meals</p>
<div class="container pt-4">
    <div class="row">
       <div class="col-lg">
        <form action="/meals/searchForWeekOfMeals" method='POST'>
            <div class="form-row">
              <!-- <div class="col-7">
                <input type="text" name="name" id='name' class="form-control" placeholder="Name">
              </div>
              <br>
              <div class="col-7">
                <input type="text" name="type" id='type' class="form-control" placeholder="Type: Breakfast, Lunch or Dinner">
              </div>
              <br> -->
              <div class="col-7">
                <input type="text" name="calories" id='calories' class="form-control" placeholder="Max calories">
              </div>
              <br>
              <div class="col-7">
                <input type="text"  name="protein" id='protein' class="form-control" placeholder="Protein desired">
              </div>
              <br>
              <input type="submit" class="btn btn-outline-secondary mt-2 ml-5 mb-3" value='Search for a meal'>
            </div>
          </form>
   
        </div>

          <% if (submitted) { %> 
          <form action="/meals/newCollection" method='POST'>
            <div class="form-row align-items-center">
              <div class="col-7">
                <input type="text" name="name" id='name' class="form-control" placeholder="Name">
              </div>
              <br>
              <div class="form-group col-7">
                <label for="exampleFormControlSelect1">Breakfast</label>
                <select class="form-control" name="breakfast" id='breakfast'>
                  <% meals.forEach( (meal, index) =>{ %>
                    <% if (meal.type === 'Breakfast') {%>
                      <% let breakfastCalories = meal.calories %>
                      <% let breakfastProtein = meal.protein %> 
                  <option><%= meal.name , meal.protein, meal.calories %>
                    <!-- <input type="text" name="breakfastCalories" id='breakfastCalories' class="form-control" placeholder="breakfastCalories" value="<#%=breakfastCalories %> ">
                    <input type="text" name="breakfastProtein" id='breakfastProtein' class="form-control" placeholder="breakfastProtein" value="<#%=breakfastProtein %#> "> -->
                  </option>
                  <% } %> 
              <%  }) %>
                </select>
              </div>
              <div class="form-group col-7">
                <label for="exampleFormControlSelect1">Lunch</label>
                <select class="form-control" name="lunch" id='lunch'>
                  <option value="">--Please choose an option--</option>
                  <% meals.forEach( (meal, index) =>{ %>
                    <% if (meal.type === 'Lunch') {%>
                      <% let lunchCalories = meal.calories %>
                      <% let lunchProtein = meal.protein %> 
                  <option><%= meal.name %>
                    <input  type="text" name="breakfastCalories" id='breakfastCalories' class="form-control" placeholder="breakfastCalories" value="<%=lunchCalories %> ">
                    <input  type="text" name="breakfastProtein" id='breakfastProtein' class="form-control" placeholder="breakfastProtein" value="<%=lunchProtein %> ">
                  </option>
                  <% } %> 
              <%  }) %>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Dinner</label>
                <select class="form-control" name="dinner" id='dinner'>
                  <% meals.forEach( (meal, index) =>{ %>
                    <% if (meal.type === 'Dinner') {%>
                      <% let dinnerCalories = meal.calories %>
                      <% let dinnerProtein = meal.protein %> 
                  <option><%= meal.name %>
                    <input type="text" name="dinnerCalories" id='dinnerCalories' class="form-control" placeholder="dinnerCalories" value="<%=dinnerCalories %> ">
                    <input  type="text" name="dinnerProtein" id='dinnerProtein' class="form-control" placeholder="dinnerProtein" value="<%=dinnerProtein %> ">
                  </option>
                  <% } %> 
                  <%  }) %>
                </select>
                <input type="submit" class="btn btn-outline-secondary mt-3 ml-5 mb-3" value='Create new collection'>
              </div>
          </form>
          <% } %> 


          <script>
            // const btn = document.querySelector('.btn')
            // btn.addEventListener('click', () => {
            //   let breakfastDropItem = document.querySelector('.breakfastDropItem')
            // console.log(breakfastDropItem)
            // let lunchDropItem = document.querySelector('.lunchDropItem')
            // console.log(lunchDropItem)
            // let dinnerDropItem = document.querySelector('.dinnerDropItem')
            // console.log(dinnerDropItem)
            // })

            
          </script>
         
<!-- Find three meals where the cal of each meal summed up is less than calorie param added. If none, tell user "Can't find based on your search parameters.". -->




<option><%= meal.name %>, <%= meal.calories  %> calories,<%= meal.protein  %> g protein </option>