<div class="container pt-4">
  <h5 class="mb-5">Input Max calories and min protein desired per meal to generate options for a full days worth of eating</h5>
    <div class="row">
       <div class="col-lg">
        <form action="/meals/searchForWeekOfMeals" method='POST'>
            <div class="form-row">
              <div class="col-7">
                <input type="text" name="calories" id='calories' class="form-control" placeholder="Max calories">
              </div>
              <br>
              <div class="col-7">
                <input type="text"  name="protein" id='protein' class="form-control" placeholder="Protein desired">
              </div>
              <br>
              <input type="submit" class="btn btn-outline-primary mt-2 ml-5 mb-3" value='Search for a meal'>
            </div>
          </form>
   
        </div>

          <% if (submitted && meals.length > 0) { %> 
          <form action="/meals/newCollection" method='POST'>
            <div class="form-row align-items-center">
              <div class="col-7">
                <label for="exampleFormControlSelect1">Collection Name <span style="color:red">*</span></label>
                <input type="text" name="name" id='name' class="form-control" placeholder="Ex: Monday" required>
              </div>
              <br>
              <div class="form-group col-7">
                <label for="exampleFormControlSelect1">Breakfast</label>
                <select class="form-control" name="breakfast" id='breakfast' required>
                  <option value="">--Please choose an option--</option>
                  <% meals.forEach( (meal, index) =>{ %>
                    <% if (meal.type === 'Breakfast') {%>
                      <% let breakfastCalories = meal.calories %>
                      <% let breakfastProtein = meal.protein %> 
                      <option value="<%= meal.name %> "><%= meal.name %>, <%= meal.calories  %> calories,<%= meal.protein  %> g protein </option>
                  <% } %> 
              <%  }) %>
            </select>
            <label for="exampleFormControlSelect1">Calories <span style="color:red">*</span></label>
              <input  type="text" name="breakfastCalories" id='breakfastCalories' class="form-control" placeholder="Ex: 350" required>
              <label for="exampleFormControlSelect1">Grams of protein <span style="color:red">*</span></label>
                    <input  type="text" name="breakfastProtein" id='breakfastProtein' class="form-control" placeholder="Ex: 27" required>
              </div>
              <br>
              <div class="form-group col-7">
                <label for="exampleFormControlSelect1">Lunch</label>
                <select class="form-control" name="lunch" id='lunch' required>
                  <option value="">--Please choose an option--</option>
                  <% meals.forEach( (meal, index) =>{ %>
                    <% if (meal.type === 'Lunch') {%>
                      <% let lunchCalories = meal.calories %>
                      <% let lunchProtein = meal.protein %> 
                      <option value="<%= meal.name %> "><%= meal.name %>, <%= meal.calories  %> calories,<%= meal.protein  %> g protein </option>
                  <% } %> 
              <%  }) %>
            </select>
            <label for="exampleFormControlSelect1">Calories <span style="color:red">*</span></label>
              <input  type="text" name="lunchCalories" id='lunchCalories' class="form-control" placeholder="Ex: 350" required>
              <label for="exampleFormControlSelect1">Grams of protein <span style="color:red">*</span></label>
                    <input  type="text" name="lunchProtein" id='lunchProtein' class="form-control" placeholder="Ex: 27" required>
              </div>
              <br>
              <div class="form-group col-7">
                <label for="exampleFormControlSelect1">Dinner</label>
                <select class="form-control" name="dinner" id='dinner' required>
                  <option value="">--Please choose an option--</option>
                  <% meals.forEach( (meal, index) =>{ %>
                    <% if (meal.type === 'Dinner') {%>
                      <% let dinnerCalories = meal.calories %>
                      <% let dinnerProtein = meal.protein %> 
                      <option value="<%= meal.name %> "><%= meal.name %>, <%= meal.calories  %> calories,<%= meal.protein  %> g protein </option>
                  <% } %> 
              <%  }) %>
            </select>
            <label for="exampleFormControlSelect1">Calories <span style="color:red">*</span></label>
              <input  type="text" name="dinnerCalories" id='dinnerCalories' class="form-control" placeholder="Ex: 350" required>
              <label for="exampleFormControlSelect1">Grams of protein <span style="color:red">*</span></label>
                    <input  type="text" name="dinnerProtein" id='dinnerProtein' class="form-control" placeholder="Ex: 27" required>
                <input type="submit" class="btn btn-outline-primary mt-3 ml-5 mb-3" value='Create new collection'>
              </div>
          </form>
          <% } else if (submitted && meals.length <= 0) { %>
            <h4 class="text-center mt-5">Sorry, no meals matched the search parameters given. Please revise your parameters and try again</h4>
                <% } %> 

